@import "tailwindcss";

@font-face {
  font-family: "Onepiece";
  src: url("/fonts/one-piece-font.ttf") format("truetype");
}

@theme {
  --font-Onepiece: "Onepiece";
}
/* This is the bridge between your variables and the CSS Grid */
.grid,
.elem {
  grid-row: var(--r);
  grid-column: var(--c);
}
@layer utilities {
  .special-font o {
    font-family: "Onepiece", sans-serif;
  }
}

/* For smoother scrolling experience using lenis*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  overscroll-behavior: none;
}
/* Hardware acceleration for smoother animations */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
