@import "tailwindcss";

@font-face {
  font-family: "Onepiece";
  src: url("/fonts/one-piece-font.ttf") format("truetype");
}

@theme {
  --font-Onepiece: "Onepiece";
}
/* This is the bridge between your variables and the CSS Grid */
.grid,
.elem {
  grid-row: var(--r);
  grid-column: var(--c);
}
@layer utilities {
  .special-font o {
    font-family: "Onepiece", sans-serif;
  }
}
